<h1> Billinho </h1>

<li><%= link_to 'Institutions', {:action => "show_institutions"} %></li>
<li><%= link_to 'Students', {:action => "show_students"} %></li>
<li><%= link_to 'Matriculations', {:action => "show_matriculations"} %></li>