<h1><%= @gender.name -%></h1>

<ul>
   <% @gender.students.each do |c| %>
   <li><%= link_to c.name, :action => "show", :id => c.id -%></li>
   <% end %>
</ul>

<%= link_to 'Back', {:action => 'list' } %>